<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ferret.dao.FeatureInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ferret.bean.FeatureInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="featurefile" property="featurefile" jdbcType="VARCHAR" />
    <result column="property" property="property" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, featurefile, property
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_feature_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_feature_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ferret.bean.FeatureInfo" >
    insert into tb_feature_info (id, featurefile, property
      )
    values (#{id,jdbcType=INTEGER}, #{featurefile,jdbcType=VARCHAR}, #{property,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ferret.bean.FeatureInfo" >
    insert into tb_feature_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="featurefile != null" >
        featurefile,
      </if>
      <if test="property != null" >
        property,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="featurefile != null" >
        #{featurefile,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        #{property,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ferret.bean.FeatureInfo" >
    update tb_feature_info
    <set >
      <if test="featurefile != null" >
        featurefile = #{featurefile,jdbcType=VARCHAR},
      </if>
      <if test="property != null" >
        property = #{property,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ferret.bean.FeatureInfo" >
    update tb_feature_info
    set featurefile = #{featurefile,jdbcType=VARCHAR},
      property = #{property,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>